<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manuel.aulainventario">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AulaInventario">
        <activity
            android:name=".activities.MyProfileActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AulaInventarioActionBar" />
        <activity
            android:name=".activities.PedagogicalFormActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AulaInventarioActionBar" />
        <activity
            android:name=".activities.DidacticFormActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AulaInventarioActionBar" />
        <activity
            android:name=".activities.ConsumptionFormActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AulaInventarioActionBar" />
        <activity
            android:name=".activities.ActiveFormActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AulaInventarioActionBar" />
        <activity
            android:name=".activities.EditInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CompleteProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AulaInventarioActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>